body {
    font-family: "Open Sans", sans-serif;
	font-size: 18px;
}
.isentia-puzzle-game{
	margin: 20px 0;
	border: 1px solid #000;
}
.gm-message-area {
	color: white;
	background-color : #5181A1;
	font-weight: bold;
	padding: 20px 0;
}
.gm-message-area .success, .gm-main-area{
	padding: 0 75px;
}
.gm-title {
	padding: 50px 0;
}
.gm-area {
	padding: 50px 0;
}
.gm-image {
	padding-bottom: 10px;
}
.gm-image img{
	border: 1px solid #000;
}
.gm-buttons{
	text-align: center;
}
.gm-action-btn{
	width: 100%;
	margin: 5px 0;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
	
}
.gm-action-btn.start {
	background: #9BC751; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#9BC751, #4B9C1C); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#9BC751, #4B9C1C); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#9BC751, #4B9C1C); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#9BC751, #4B9C1C); /* Standard syntax */
}
.gm-action-btn.start:hover {
	opacity: 0.7;
}
.gm-puzzle-area{
	padding: 0 80px;
}
.gm-puzzle-images{
	float: left;
	padding-bottom: 20px;
}
.gm-image-parts {
	float: left;
}
.gm-moves{
	padding: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
}

#puzzle{
	padding: 0;
	border: 1px solid #000;
	width: 401px;
}

#puzzle:after{
	content: "";
	display: block;
	clear: both;
}		
#puzzle li{
	float: left;
	list-style-type: none;
}

#puzzle li:nth-child(3n+4) {
  clear:left;
  float:left;
}
